@font-face {
  font-family: Poppins;
  src: url(Poppins-Black.ttf);
}


/* Genel Stil Ayarları */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #151515;
  color: #f0f0f0;
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden; /* Scroll olmasını engelle */
  padding-top: 10px;
}

/* Ana İçerik */
main {
  padding: 20px 0;
  min-height: 100vh;
}

/* Container */
.container {
  max-width: 702px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #151515;
}

/* Arama Kutusu */
.search-box {
  position: relative; /* Hayalet metni input ile aynı konuma getirebilmek için */
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  border-radius: 15px;
  width: 100%;
  height: 53px;
  padding: 0;
  transition: box-shadow 0.3s ease;
}

.search-box:focus-within {
  box-shadow: 0 0 15px 5px rgba(34, 139, 34, 0.8);
}

.search-box input {
  padding-left: 25px; /* Sol padding'i 25px olarak ayarla */
  padding-right: 25px; /* Sol padding'i 25px olarak ayarla */
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: #1f1f1f;
  color: white;
  caret-color: #32CD32;
}

/* Hayalet Metin Stilleri */
.ghost-text {
  position: absolute;
  color: #32CD32; /* Parlak yeşil renk */
  font-size: 1.2rem;
  pointer-events: none;
  white-space: nowrap;
  top: 50%; /* Dikey merkezleme */
  transform: translateY(-50%);
}

/* Sonuç Alanı */
.result {
  text-align: left;
  margin-top: 40px; 
  animation: fadeIn 1s ease-in-out;
}

.result .description {
  font-size: 1rem;
  line-height: 1.6;
  white-space: pre-line;
  color: #f0f0f0;
}

.result .highlight {
  font-weight: bold;
  color: #2d6536;
}

/* Kelime Sayısı Bilgisi */
.word-count {
  color: #5C5F60;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center; /* Mesajı ortala */
}

.word-count .highlight {
  font-weight: bold; /* x kısmını kalın yap */
}

/* Hata Mesajı Stili */
.error {
  color: #dc3545;
  font-size: 1.2rem;
  text-align: center;
}

/* Ekran Boyutuna Göre Duyarlılık (Responsive) */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .result .description {
    font-size: 1rem;
  }
}

/* Animasyonlar */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-box.error {
  box-shadow: 0 0 15px 5px rgba(220, 53, 69, 0.8); /* Kırmızı renkte gölge */
}

.search-box.error input {
  caret-color: #dc3545; /* Kırmızı imleç rengi */ 
}

#errorContainer {
    display: flex;
    justify-content: center; /* Yatayda ortala */
    margin-bottom: 10px;     /* Arama kutusuyla arasında boşluk bırak */
}

/* Hata Simgesi Stilleri (Kapsayıcı içinde ortalanır) */
.error-icon {
    width: 50px; /* İstenilen boyuta ayarlayın */
    height: 50px;
    opacity: 0.6;
    margin-top: 10px;
}